* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px; }

@keyframes fade-1 {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-2 {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade-3 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade-4 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.btn {
  padding: 1rem 1rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 3px 10px;
  transition: all 0.2s; }
  .btn:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); }
  .btn:active {
    transform: translateY(-1px);
    cursor: pointer;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }

.btn-light {
  background-color: #F5F5F5;
  border-radius: 5px; }

@keyframes fade-1 {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-2 {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade-3 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade-4 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.header {
  position: relative;
  height: 95vh; }
  .header__slide--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(314deg, rgba(44, 129, 88, 0.5), rgba(129, 183, 157, 0.5)), url("https://images.unsplash.com/photo-1593111774642-a746f5006b7b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=775&q=80");
    background-size: cover;
    background-position: center;
    animation: fade-1 12s infinite; }
  .header__slide--2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(314deg, rgba(44, 129, 88, 0.5), rgba(129, 183, 157, 0.5)), url("https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-position: center;
    animation: fade-2 12s infinite; }
  .header__slide--3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(314deg, rgba(44, 129, 88, 0.5), rgba(129, 183, 157, 0.5)), url("https://images.unsplash.com/photo-1529514034604-3cf028e773ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=716&q=80");
    background-size: cover;
    background-position: center;
    animation: fade-3 12s infinite; }
  .header__slide--4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(314deg, rgba(44, 129, 88, 0.5), rgba(129, 183, 157, 0.5)), url("https://images.unsplash.com/photo-1609008231993-65f989273144?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80");
    background-size: cover;
    background-position: center;
    animation: fade-4 12s infinite; }
  .header__content {
    position: absolute;
    bottom: 20%;
    left: 5%; }
  .header__logo--img {
    width: 500px;
    text-shadow: 2px 2px 4px white; }
  .header__text {
    margin-left: 50px;
    color: white; }
    .header__text--title {
      font-size: 4.5rem;
      font-weight: 900;
      letter-spacing: 0.2rem; }
    .header__text--sub {
      font-size: 1.5rem;
      font-style: oblique;
      font-weight: 200; }
  .header__buttons {
    padding-left: 40px;
    margin-top: 25px; }

body {
  background-color: #F5F5F5; }
