@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/functions';

@import 'base/base';
@import 'base/animations';

@import 'components/button';

@import 'layout/header';

body{
    background-color: $background;
}