.btn{
    padding: 1rem 1rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 3px 10px;
    transition: all 0.2s;

    &:hover{
        transform: translateY(-5px);
        cursor: pointer;
        box-shadow: 0px 4px 10px rgba(0,0,0, 0.3);
    }

    &:active{
        transform: translateY(-1px);
        cursor: pointer;
        box-shadow: 0px 1px 10px rgba(0,0,0, 0.3);
    }

}

.btn-light{
    background-color: $background;
    border-radius: 5px;
}