$background: #F5F5F5;
$secondary: #81B79D;
$primary: #2C8158;
$primary-dark:#03552E;

$dark: #110800;

$brown: #B36829;
$brown-dark: #723400;
$brown-light: #F5BA8A;


$header-bg-1: "https://images.unsplash.com/photo-1593111774642-a746f5006b7b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=775&q=80";
$header-bg-2: "https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80";
$header-bg-3: "https://images.unsplash.com/photo-1529514034604-3cf028e773ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=716&q=80";
$header-bg-4: "https://images.unsplash.com/photo-1609008231993-65f989273144?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80";